/* .row {
    display: table-cell;
    width: 490px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.add-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}